@import "../../assets/styles/style.scss";


table {
    th, td{
        font-family: $font-primary !important;
        padding: 8px 0 !important;
    }
    th{
        background-color: $background-secundary !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        color: $color-white !important;
    }
    td{
        font-size: $font-size !important;
        font-weight: 700 !important;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 4px;
    }
    
    &::-webkit-scrollbar-track {
        background: 'transparent';
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $color-secundary;
        border-radius: 20px;
        border: 0px solid $background-primary;
    }
}