@import "../../assets/styles/style.scss";

.expandIconWrapper,
.collapsIconWrapper {
    font-family: cursive;
    color: $color-secundary;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

}