@import "../../assets/styles/style.scss";

.swiper-button-next,
.swiper-button-prev {

    &::after {
        display: none;
    }
}

#Banner {
    @media screen and (max-width: 900px) {
        padding: 5em 0 0;
    }

    .swiper-pagination>.swiper-pagination-bullet {
        background-color: transparent;
        opacity: 1;
        border: 1px solid $color-yellow;
        width: 16px;
        height: 16px;

        @include lt-lg {
            width: 8px;
            height: 8px;
        }
        &-active {
            background-color: $color-yellow;
            border: 1px solid $color-yellow;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        margin: 0 5em;

        @include lt-xl{
            margin: 0 5em;
        }
        @include lt-lg {
            margin: 0 20px;
        }
    }

    .swiper-button-next {
        background: url("../../assets/images/icons/next.svg") no-repeat;
        @include lt-lg {
            background-size: 1em;
        }
    }

    .swiper-button-prev {
        background: url("../../assets/images/icons/prev.svg") no-repeat;
        @include lt-lg {
            background-size: 1em;
        }

    }

    
}

#Slider {
    .swiper-slide {
        max-width: 308px !important;
        height: auto !important;
    }

    .swiper-button-next {
        background: url("../../assets/images/icons/next.svg") no-repeat;

        @include lt-md {
            display: none;

        }
    }

    .swiper-button-prev {
        background: url("../../assets/images/icons/prev.svg") no-repeat;

        @include lt-md {
            display: none;

        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        margin: 0 -10px;
    }
}