@import "../../assets/styles/style.scss";

.newsLetter {
    margin: auto;
    width: 100%;
    color: $color-primary;
    background-color: $background-primary;

    border-top: 2px solid #EFEFEF;
    padding: 2em 0;

    .text {
        text-wrap: nowrap;
    }

    .form {
        width: 50%;

        @include lt-md {
            width: 100%;
        }
        
        &-input {
    

            &_button {
                font-family: $font-primary;
                text-transform: capitalize !important;
                color: $color-white !important;
                padding: 6px 40px !important;
                background-color: $color-yellow !important;

            }
        }
    }


}