@import "../../assets/styles/style.scss";

.newsLetter {
    margin: auto;
    width: 100%;
    color: $color-primary;
    background-color: $background-primary;

    border-top: 2px solid #EFEFEF;
    padding: 2em 0;

    .form {
        width: 50%;

        @include lt-md {
            width: 100%;
        }

        &-input {

            display: flex;
            width: 70%;
            color: $color-secundary;
            justify-content: center;
            background-color: $color-white;

            &_button {
                text-transform: capitalize !important;
                padding: 6px 40px !important;
                background-color: $color-yellow !important;

                font-weight: 700 !important;
                font-size: 16px !important;
                border-radius: 4px !important;

            }
        }
    }


}