@import "./mixin.scss";
@import "./style.scss";


body {
    margin: 0;
    padding: 0;
    font-family: $font-primary !important;
    font-weight: $font-weight !important;
    font-size: $font-size !important;

    letter-spacing: 0px !important;
    background-color: $color-primary;
}

section {
    margin: 0 2em 2em;

    @include lg {
        margin: 0 5em 2em;
    }

    @include xl {
        margin: 0 10em 2em;
    }
}

input {
    font-family: $font-primary !important;
    color: $color-secundary !important;
    font-size: $font-size !important;
}
button {
    font-family: $font-primary !important;
    font-size: $font-size !important;
}

a {
    font-family: $font-primary !important;
}