@import "./mixin.scss";
@import "./style.scss";

* {
    scrollbar-width: thin;
    scrollbar-color: transparent $background-primary;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-primary !important;
    font-weight: $font-weight !important;
    font-size: $font-size !important;

    letter-spacing: 0px !important;
    background-color: $color-primary;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        background: 'transparent';
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-secundary;
        border-radius: 20px;
        border: 0px solid $background-primary;
    }
}

section {
    margin: 0 2em 2em;

    @include lg {
        margin: 0 5em 2em;
    }

    @include xl {
        margin: 0 10em 2em;
    }
}

input {
    color: $color-secundary !important;
    font-size: $font-size !important;
}


p{
    margin: 0;
}