@import "./mixin.scss";

$color-primary: #FAFAFA;
$color-secundary: #353535;
$color-white: #FFFFFF;
$color-black: #000000;
$color-yellow: #FAA500;

$background-primary: #FAFAFA;
$background-secundary: #353535;
$background-white: #FFFFFF;

$color-button-white: #FFFFFF;
$color-button-yellow: #FAA500;


$font-primary: 'Titillium Web';
$font-size: 14px;
$font-weight: 400;
