@import "../../assets/styles/main.scss";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    bottom: 0;
    word-break: keep-all;
    clear: both;
    margin-bottom: 0 !important;
    border-top: 2px solid #EFEFEF;
    color: $color-white;



    .footer-info {
        width: 100%;
        background-color: $background-primary;

        @include lt-md {
            background-color: $background-white;
        }

        &-content {
            display: flex;
            flex-direction: column;

            .accordion {
                background-color: $background-primary;
                border: 0;
                border-radius: 0px;
                box-shadow: none;

                @include lt-md {
                    background-color: $background-white;
                }

                #panel1bh-header {
                    padding: 0px;
                    min-height: 28px;

                    .MuiAccordionSummary-content {
                        margin: 0.5em 0;
                    }
                }

                &_title {
                    color: $color-secundary;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18px;

                }

                &_link {
                    color: $color-black;
                    font-size: 12px;
                    line-height: 18px;

                }
            }

            &_title {
                color: $color-secundary;
                font-size: 16px;
                font-weight: 700;
                line-height: 18px;
                margin-bottom: 1em;

            }

            &_link {
                color: $color-black;
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 1em;

            }


        }
    }

    .footer-icon {
        width: 100%;
        background: $background-secundary;

        &-content {
            display: flex;
            flex-direction: row;
            align-items: center;

            &_icons {
                font-family: Open Sans;
                text-align: left;
                margin: 0 0.6em;
            }
        }
    }


}

.Container {
    text-align: -webkit-center;
    position: relative;

    @include lt-md {
        background-color: $background-white;
    }

}