@import "../../assets/styles/style.scss";

.search {
    margin: auto;
    width: 30%;

    @include lg {
        width: 40%;
        margin: auto;
    }
    @include xl {
        width: 50%;
    }


    &-input {

        .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
            font-family: $font-primary;
            font-weight: $font-weight ;
        }

        &_button {

            border: 0px !important;
            text-transform: capitalize !important;
            color: $color-white !important;
            letter-spacing: 0px !important;
            padding: 5px 30px !important;
            background-color: $color-yellow !important;

            .css-1pz7awu-MuiButtonBase-root-MuiIconButton-root {
                padding: 0px;
            }
        }
    }

}