@import "../../assets/styles/style.scss";

.search {
    margin: auto;
    width: 30%;

    @include lg {
        width: 40%;
        margin: auto;
    }
    @include xl {
        width: 50%;
    }
    input{
        font-family: $font-primary;
        color: $color-secundary;
        font-size: $font-size;
    }

    &-input {

        &_button {
            font-family: $font-primary !important;
            font-weight: $font-weight!important;
            text-transform: capitalize !important;
            color: $color-white !important;
            background-color: $color-yellow !important;

        }
    }

}