@import "../../assets/styles/style.scss";

.search {
    margin: auto;
    width: 30%;

    @include lg {
        width: 40%;
        margin: auto;
    }
    @include xl {
        width: 50%;
    }
    input{
        font-size: 12px !important;
    }

    &-input {

        &_button {
            text-transform: capitalize !important;
            background-color: $color-yellow !important;

        }
    }

}