@import "../../assets/styles/style.scss";

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    padding: 0;

    &-close {
        position: absolute;
        text-align: right;
        width: 100%;
        background-color: transparent;
        right: 0;
        top: -20px;

        &_button {
            min-width: 0px !important;
            padding: 0 !important;
            color: $color-white !important;
            font-family: 'Lato' !important;
            font-size: 12px !important;
            text-transform: uppercase !important;
        }
    }

    &-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $color-white;
        width: 100%;

        &_image {
            width: 50%;

            @include lt-md {
                display: none;
            }
        }

        &_text {
            width: 100%;

            .text {
                font-size: 12px;
                line-height: 20px;
                color: #464B54;
                text-transform: uppercase;
                margin: 1em 0;

            }

            .description {

                font-size: 16px;
                font-weight: 700;
                line-height: 23px;
                color: #787D83;

                &_strong {
                    font-family: 'Lato';
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 23px;
                    color: #787D83;
                }
            }

            .form {
                width: 100%;

                &-input {
                    display: flex;
                    width: 100%;
                    color: #787D83;
                    justify-content: center;
                    background-color: $color-white;
                    border-radius: 10px;
                    border: 1px solid #C4C4C4;
                    margin-top: 1em;

                    input {
                        font-size: 12px !important;

                    }
                }

                &-button {
                    text-transform: uppercase !important;
                    color: $color-white;
                    margin-top: 1em;
                    background-color: $color-yellow;
                    font-weight: 700;
                    font-size: 12px;
                    border-radius: 10px;
                    line-height: 20px;
                    width: 100%;

                    &:hover {
                        background-color: $color-yellow;
                        opacity: 0.8;
                    }
                }
            }
        }

    }
}